
.posL1_Area {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    border-right: 5px solid black;
    background-color:coral;
    background-size: cover;
    transition: width 1s;
    
}
.posL1_Area:hover {
    width: 70%;
}
.posL1_Area:hover + .posR1_Area {
    width: 30%;
}

.posL2_Area {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 0;
    border-right: 5px solid black;
    background-color:coral;
    background-size: cover;
    transition: width 1s;
    z-index: 1;
}
.posL2_Area +.posR1_Area {
    width: 10%;
}
.posL1_Btn {
    font-family: 'Raleway', sans-serif;
    border: 5px solid white;
    color: white;
    border-radius: 25px;
    font-size: 30px;
    position: absolute;
    width: 15%;
    left: 20%;
    height: 10%;
    top: 50%;
    background-color: coral;
    transition: top 1s;
    

}

.posL2_Btn {
    font-family: 'Raleway', sans-serif;
    border: 5px solid white;
    color: white;
    border-radius: 25px;
    font-size: 30px;
    position: absolute;
    width: 15%;
    height: 10%;
    top: 10%;
    left: 20%;
    background-color: coral;
    transition: top 1s;
    
}

.posL1_Btn + .showWork {
    display: none;
}
